<robot name = "robot">
    <link name="Link1">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.5641837326907978 0.420744742027186 0.339945262295005" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="0.5641837326907978 0.420744742027186 0.339945262295005" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.2820918663453989 0 1" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0.27061585719570264 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.27061585719570264 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5412317143914053 1.1860208103753573 0.9376197101840035" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.27061585719570264 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5412317143914053 1.1860208103753573 0.9376197101840035" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0.5412317143914053 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0.3268076167633347 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3268076167633347 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6536152335266694 0.4185185986400493 0.9423754814077617" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3268076167633347 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6536152335266694 0.4185185986400493 0.9423754814077617" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0.6536152335266694 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0.14502522344941 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.14502522344941 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.29005044689882 0.7612337181935458 0.5074874554602694" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.14502522344941 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.29005044689882 0.7612337181935458 0.5074874554602694" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0.29005044689882 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0.3820327578639229 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3820327578639229 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7640655157278458 0.7318218241117513 0.6297240682256098" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3820327578639229 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7640655157278458 0.7318218241117513 0.6297240682256098" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.7640655157278458 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0.5179709260523782 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5179709260523782 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0359418521047563 0.9484335686051288 0.9778152620006713" />
            </geometry>
            <material name="Green">
                <color rgba="0 1.0 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5179709260523782 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0359418521047563 0.9484335686051288 0.9778152620006713" />
            </geometry>
        </collision>
    </link>
    <joint name="Link6_Link7" type="revolute">
       <parent link="Link6"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="1.0359418521047563 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0.5406253567186499 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5406253567186499 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0812507134372997 0.66569099759614 0.7736483760488954" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5406253567186499 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0812507134372997 0.66569099759614 0.7736483760488954" />
            </geometry>
        </collision>
    </link>
    <joint name="Link7_Link8" type="revolute">
       <parent link="Link7"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="1.0812507134372997 0 0" />
       <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="0.5459903390624764 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5459903390624764 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0919806781249528 0.39028745327145803 1.0135192897169565" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5459903390624764 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0919806781249528 0.39028745327145803 1.0135192897169565" />
            </geometry>
        </collision>
    </link>
</robot>